.BlendModeControl__display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  label {
    margin: 0;
  }

  select {
    flex: 1;
    min-width: 200px;
    max-width: 320px;
  }
}