.ImageDownloader__images {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 500px) {
  .ImageDownloader__images {
    width: 100%;
    max-width: 500px;
  }
}

img, image, .ImageWithFilter__container > svg {
  width: 100%;
  max-width: 500px;
}